:root{
    background: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#background{
    position: relative;
    background: orange;
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: flex-end flex-end;
    flex-flow: row nowrap;
}

#heroImage{
    position: relative;
    background-image: url(./heroImage.jpg);
    background-size: auto 100vh;
    display: flex;
    background-position: flex-start;
    background-repeat: no-repeat;
    flex-flow: row nowrap;
    place-items: center flex-start;
    flex:1;
}

#logoContainer{
    background: rgba(0, 0, 0, 0.9);
    width: 30vw;
    height: 200px;
    flex-flow: row nowrap;
    display: flex;
    place-content: center center;
    place-items: center center;
    /* border: 1px solid white; */
}

#logo{
    background: url(logo.svg) no-repeat center;
    width: 200px;
    height: 200px;
}


#one{
position: absolute;
width: 70vw;
height: 100vh;
background: black;
display: flex;
flex:2;
}


@media all and (max-width: 600px) {
    #background{
        position: static;
        flex-direction: column;
        place-content: center center;
    }

    #heroImage{
        position: static;
        width: auto;
        height: auto;
        background-position: center;
    }

    #one{
        position: static;
        width: auto; 
        flex: 4;
    }

    #logoContainer{
        width: 100vw;
        height: 100px;
    }

    #logo{
        width: 100px;
        height: 100px;
    }

 
}