@font-face {
    font-family: "Lato";
    src: var(url(fonts/Lato-Thin.ttf), );
}

:root {
    background: black;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

#background {
    position: relative;
    background: orange;
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: flex-end flex-end;
    flex-flow: row nowrap;
}

#heroImage {
    position: relative;
    background-image: url(./heroImage.jpg);
    background-size: auto 100vh;
    display: flex;
    background-position: flex-start;
    background-repeat: no-repeat;
    flex-flow: row nowrap;
    place-items: center flex-start;
    flex: 1;
}

#logoContainer {
    background: rgba(0, 0, 0, 0.9);
    width: 30vw;
    height: 200px;
    flex-flow: row nowrap;
    display: flex;
    place-content: center center;
    place-items: center center;
}

#logo {
    background: url(logo.svg) no-repeat center;
    width: 200px;
    height: 200px;
}


#contentContainer {
    position: absolute;
    width: 70vw;
    height: 100vh;
    background: black;
    display: flex;
    place-content: center center;
    place-items: center center;
    flex: 2;
}

#headlineContainer {
    padding: 20px;
    color: white;
    width: 700px;
    height: 500px;
}


@media all and (max-width: 600px) {
    * {
        font-size: 20px;
        line-height: 30px;
    }

    #background {
        position: static;
        flex-direction: column;
        place-content: center center;
    }

    #heroImage {
        position: static;
        width: auto;
        height: auto;
        background-position: center;
    }

    #logoContainer {
        width: 100vw;
        height: 100px;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    #contentContainer {
        position: static;
        width: auto;
        place-content: flex-start center;
        place-items: flex-start center;
        flex: 4;
    }
}